<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776939330047-eat8tva5offbg2env749epsgv0o465c2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776939330047-eat8tva5offbg2env749epsgv0o465c2</string>
	<key>API_KEY</key>
	<string>AIzaSyAp4DiqtbM4A2eE2Cdj8qZuK_dLmXJgp6s</string>
	<key>GCM_SENDER_ID</key>
	<string>776939330047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.squip</string>
	<key>PROJECT_ID</key>
	<string>my-squip-12</string>
	<key>STORAGE_BUCKET</key>
	<string>my-squip-12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776939330047:ios:edb3370ea765b1bd312fca</string>
</dict>
</plist>